
@media only screen and (max-width: 580px) {
    .time-blocks h3
    {
        font-size: calc(0.4rem + .6vw) !important;
    }
    #open
    {
        font-size: 15px !important;
    }
    .icons i
    {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }
    .card
    {
        width: 100% !important;
    }
    nav li
    {
        padding: 0px !important;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .clock h3
    {
        margin: 10px !important;
    }
    #open
    {
        font-size: 20px;
    }
    #header-content
    {
        padding-left: 0px !important;
    }
    .card
    {
        width: 80% !important;
    }
}


/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .clock h3
    {
        margin: 30px;
    }
    .icons 
    {
        margin:  0px 0px 20px;
        text-align: center;
    }
    .card
    {
        width: 70% !important;
    }
} 
    




/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}